body {
  margin: 0 auto;
  max-width: 650px;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 16px;
  color: #444;
  padding: 5px;
  color: #44696c;
  background: linear-gradient(135deg,#fff,#eeffeb)#f7fff5;
  background-attachment: fixed
}

h1 {
  line-height: 1.2;
  -webkit-margin-after: 0.2em
}

.badge {
  padding: 10px 6px 10px 0
}

a,.item {
  white-space: nowrap
}

.item>* {
  display: inline-block;
  vertical-align: middle
}

.exraid {
  background-image: linear-gradient(to left,#eeffeb,#D0EDCA,#eeffeb);
  border-radius: 10px
}

.big {
  font-size: 20px
}

.small {
  font-size: 12px;
  font-style: italic
}

a {
  text-decoration: none;
  color: #719968
}

a.jumptarget {
  display: block;
  position: relative;
  top: -15px;
  visibility: hidden
}

button,#sums {
  background-image: linear-gradient(to left, rgb(36, 204, 170) 5%, rgb(162, 219, 149) 95%);
  border-radius: 20px;
  border-width: 0;
  color: white;
  font-weight: bold;
  height: 24px;
}

img.exbadge {
  width: 48px;
  height: 48px;
  padding: 0 10px
}

#jump {
  position: fixed;
  bottom: 90px;
  right: 0;
  width: 20px;
  line-height: 1.4;
  border-radius: 5px 0 0 5px;
  background-color: white;
  box-shadow: 0 0 10px
}

#sums {
  position: fixed;
  bottom: 0;
  height: 50px;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  z-index: 2000
}

#share {
  margin: 100px 0
}

#restore,#undo,#map {
  display: none
}

#map {
  width: 512px;
  height: 512px;
  margin: 20px 0
}
